@model IEnumerable<ContaFacil.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos con bajo stock</h1>

<table class="table" id="tblProductoBajoStock">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoBoolean)
            </th>
            <th>
                Categoría
            </th>
            <th>
                Empresa
            </th>
            <th>
                Abreviatura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoBoolean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaProductoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnidadMedidaNavigation.Abreviatura)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script src="~/js/productobajostock.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}