@model IEnumerable<ContaFacil.Models.Despacho>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDespacho)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.EstadoDespacho)
            </th>
            <th>
               Sucursal de Destino
            </th>
            <th>
               Sucursal de Origen
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDespacho)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDespacho)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NombreSucursalDestino)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.IdSucursalNavigation.NombreSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdPersonaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDespacho">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDespacho">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDespacho">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
