@model ContaFacil.Models.Retencion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Retencion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Xml)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Xml)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprobanteRetencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprobanteRetencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAutorizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroAutorizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveAcceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaveAcceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EjercicioFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EjercicioFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseImponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseImponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Impuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Impuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeRetencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeRetencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRetenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorRetenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContribuyente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContribuyente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoBoolean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoBoolean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAutorizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAutorizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.IdEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRetencion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
