@model IEnumerable<ContaFacil.Models.MenuPerfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.IdMenuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPerfilNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdMenuNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPerfilNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMenuPerfil">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMenuPerfil">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMenuPerfil">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
