@model IEnumerable<ContaFacil.Models.Sucursal>

@{
    ViewData["Title"] = "Index";
}


@if (ViewBag.mensaje == null)
{
    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
}
else
{
    <p>
        <span style="color:blue">@ViewBag.mesaje</span>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntoEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secuencial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoBoolean)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntoEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secuencial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoBoolean)
            </td>
          
            <td>
                    @if(!item.NombreSucursal.Equals("Sucursal Principal")){
                        <a asp-action="Edit" asp-route-id="@item.IdSucursal">Editar</a> <span> | </span>
                    }
                <a asp-action="Details" asp-route-id="@item.IdSucursal">Detalles</a> |
                    @if (!item.NombreSucursal.Equals("Sucursal Principal"))
                    {
                <a asp-action="Delete" asp-route-id="@item.IdSucursal">Borrar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
