@model IEnumerable<ContaFacil.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número Factura
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
               Estado SRI
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.DescripcionSri)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation.IdPersonaNavigation.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionSri)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdPersonaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
                    <form asp-action="GenerarRIDE" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.IdFactura" />
                        <button type="submit" class=" btn btn-primary"><i class='fas fa-file-pdf'></i> RIDE</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
