@model IEnumerable<ContaFacil.Models.Factura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreacion)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation.IdPersonaNavigation.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreacion)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdPersonaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
