@model ContaFacil.Models.Factura

@{
    ViewData["Title"] = "Details";
}
Nota de Crédito

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClaveAcceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClaveAcceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorizacionSri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorizacionSri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAutorizacionSri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaAutorizacionSri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
       
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdPersonaNavigation.Identificacion)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdPersonaNavigation.Nombre)
        </dd>
    </dl>
</div>
<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                
                <div class="card-body text-center">
                    <i class="fas fa-plus-circle fa-3x mb-3 text-warning"></i>
                    <h5 class="card-title">Nota de Credito</h5>
                    <p class="card-text">Registra y envia la nota de crédito al SRI.</p>
                    <form asp-action="NotaConfirmed" method="post" style="display:inline;">
                        <div >
                            <input name="motivo" />
                        </div>
                        <input type="hidden" name="id" value="@Model.IdFactura" />
                        <button type="submit" class=" btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
            <div class="col">
                <a asp-action="Index">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>


