@model IEnumerable<ContaFacil.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Crear Nuevo</a> |
    <a asp-action="ExportToExcel" class="btn btn-success">
        <i class="fas fa-file-excel"></i> Exportar a Excel
    </a>
</p>
<table class="table" id="tblProducto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                Descuento%
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoBoolean)
            </th>
            <th>
                Categoría
            </th>
            <th>
                Unidad de Medida
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comision)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
                <td>
                    @item.Descuento %
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoBoolean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaProductoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnidadMedidaNavigation.Abreviatura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProducto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{    
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script src="~/js/producto.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}