@model ContaFacil.Models.Anticipo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Anticipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PagueseOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PagueseOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCheque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCheque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCheque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCheque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoBoolean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoBoolean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.IdEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAnticipo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
