@model ContaFacil.Models.Emisor

@{
    ViewData["Title"] = "Details";
}

Detalles

<div>
    <h4>Emisor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Establecimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Establecimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntoEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntoEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secuencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secuencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificadoDigital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificadoDigital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObligadoContabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObligadoContabilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAmbiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAmbiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoBoolean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoBoolean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.IdEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEmisor">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
