@model IEnumerable<ContaFacil.Models.UnidadMedidum>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abreviatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoBoolean)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abreviatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoBoolean)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUnidadMedida">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUnidadMedida">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUnidadMedida">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
