@model IEnumerable<ContaFacil.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDespacho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoBoolean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDespacho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoBoolean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
