@model IEnumerable<ContaFacil.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<style>
    .form-group {
        width: 400px;
    }
    .row {
        justify-content: left;
    }
</style>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="form-group">
            <label class="control-label">Desde:</label>
            <input class="form-control" type="date" id="startDate" name="startDate" value="@ViewData["StartDate"]" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Hasta:</label>
            <input class="form-control" type="date" id="endDate" name="endDate" value="@ViewData["EndDate"]" />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <button class="button" type="submit">Filtrar</button>
        </div>
    </div>
</form>

<table class="table" id="tblInventario">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDespacho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoBoolean)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDespacho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoBoolean)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script src="~/js/inventario.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}