@model ContaFacil.Models.Impuesto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Impuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoBoolean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoBoolean)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdImpuesto">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
